In [1]:
print("hello world")

hello world

In [2]:
type("hello world")

str

In [3]:
3.4

3.4

In [4]:
type(3.4)

float

In [5]:
"pakistan"

'pakistan'

In [6]:
"404"

'404'

In [7]:
13+12

25

In [8]:
5+5

10

In [9]:
13.3+2

15.3

In [10]:
print(3+3)

6

In [11]:
print(2.3+3.3)

5.6

In [12]:
print(type(5.6))

<class 'float'>

In [15]:
"5"+3

TypeError: can only concatenate str (not "int") to str

In [16]:
"7"+"7"

'77'

In [17]:
"7"+'7'

'77'

In [18]:
"3"+23

TypeError: can only concatenate str (not "int") to str

# List

In [19]:
student="Ali 21 75.0"
print(student)

Ali 21 75.0

In [20]:
employee_name="Ameet"
employee_age=27
employee_salary=30000.0
print(employee_name,employee_age,employee_salary)

Ameet 27 30000.0

In [21]:
5*100

500

In [23]:
employee=[employee_name ,employee_age ,employee_salary]

In [24]:
print(employee)

['Ameet', 27, 30000.0]

# indexing

In [25]:
employee

['Ameet', 27, 30000.0]

In [26]:
employee[1]

27

In [27]:
employee[-1]

30000.0

In [28]:
employee[-2]

27

# updating

In [29]:
employee

['Ameet', 27, 30000.0]

In [30]:
print(employee)

['Ameet', 27, 30000.0]

In [31]:
employee=[employee_name ,employee_age ,employee_salary]
print(employee)

['Ameet', 27, 30000.0]

In [32]:
employee[1]=employee[1]+1
employee

['Ameet', 28, 30000.0]

In [34]:
employee[1]=28

In [35]:
employee

['Ameet', 28, 30000.0]

In [36]:
employee[2]=32000.0
employee

['Ameet', 28, 32000.0]

# indexing

In [37]:
employee

['Ameet', 28, 32000.0]

In [38]:
len(employee)

3

In [39]:
len("pakistan")

8

In [40]:
len("sindh")

5

In [41]:
len("karachi")

7

In [42]:
employee.index("Ameet")

0

In [43]:
employee.index(32000.0)

2

# Append

In [44]:
employee

['Ameet', 28, 32000.0]

In [47]:
employee.append("karachi")

In [48]:
employee.append("maleer")

In [49]:
employee

['Ameet', 28, 32000.0, 'karachi', 'karachi', 'karachi', 'maleer']

# slicing

In [50]:
employee.append("karachi")
employee

['Ameet', 28, 32000.0, 'karachi', 'karachi', 'karachi', 'maleer', 'karachi']

In [ ]:
# list [start_index:end_index]
#note:
   # always return a list 
#always returns continuous segments
#end index+1

In [51]:
# employee[0:5]

In [52]:
employee[2:]

[32000.0, 'karachi', 'karachi', 'karachi', 'maleer', 'karachi']

In [53]:
employee[1:]

[28, 32000.0, 'karachi', 'karachi', 'karachi', 'maleer', 'karachi']

In [54]:
employee[0:1]

['Ameet']

In [55]:
employee[1:3]

[28, 32000.0]

In [56]:
employee[0]

'Ameet'

In [57]:
employee[0:]

['Ameet', 28, 32000.0, 'karachi', 'karachi', 'karachi', 'maleer', 'karachi']

In [58]:
employee[-1:2]

[]

In [59]:
employee[-3:]

['karachi', 'maleer', 'karachi']

In [60]:
employee[-2:]

['maleer', 'karachi']

In [61]:
employee[0:-3]

['Ameet', 28, 32000.0, 'karachi', 'karachi']

In [62]:
employee[1:-3]

[28, 32000.0, 'karachi', 'karachi']

# content
1 list of lists 
2 looping
3 conditational statments single and multiple

 # List of  the lists

In [63]:
employee

['Ameet', 28, 32000.0, 'karachi', 'karachi', 'karachi', 'maleer', 'karachi']

In [66]:
emp1 =["Mubashir" ,21 ,5000.0]
emp2=["sadd", 25 ,3000.0]
emp3=["Ali", 22, 6000.0]
emp4=["daniial",28,3000.0]

In [67]:
employees=[emp1,emp2,emp3,emp4]
employees

[['Mubashir', 21, 5000.0],
 ['sadd', 25, 3000.0],
 ['Ali', 22, 6000.0],
 ['daniial', 28, 3000.0]]

# indexing in the list of the lists

In [68]:
# mubashir record
employees[0]
#Mubashir age

['Mubashir', 21, 5000.0]

In [69]:
['Mubashir', 21, 5000.0][1]

21

In [70]:
employees[0][1]

21

In [71]:
employees[0][0]

'Mubashir'

employess[1][0]

In [72]:
employees[1][0]

'sadd'

# class task print danial salary

In [73]:
employees[3][2]

3000.0

In [ ]:
# Q find the age of "ali"

In [74]:
employees[2][1]

22

 # Looping

In [75]:
# looping over the list
employee_ali=["Ali",22,500.0,"Male"]
for i in employee_ali:
    print(i)

Ali
22
500.0
Male

In [76]:
 # looping over string
    
for i in "pakistan":
        print(i)

p
a
k
i
s
t
a
n

In [77]:
for i in "America":
    print(i)

A
m
e
r
i
c
a

In [78]:
for i in "Dushant choudhary":
      print(i)

D
u
s
h
a
n
t

c
h
o
u
d
h
a
r
y

In [ ]:
# class task 1
#Q: print the countries name one by one:
#countries=["pakistan","india","Nepal", "US"]

In [80]:
for i in "pakistan":

IndentationError: expected an indented block (2425069162.py, line 2)

In [81]:
for i in "India":
     print(i)

I
n
d
i
a

In [82]:
for i in "Nepal":
    print(i)

N
e
p
a
l

In [83]:
for i in "USA":
    print(i)

U
S
A

In [84]:
#  looping over the list of the lists
for i in employees:
        print(i)

['Mubashir', 21, 5000.0]
['sadd', 25, 3000.0]
['Ali', 22, 6000.0]
['daniial', 28, 3000.0]

In [85]:
['Mubashir', 21, 5000.0][1]

21

In [86]:
['Mubashir', 21, 5000.0][-1]

5000.0

In [87]:
# fetch the salary of the all employees
for i in employees:
        print(i[2])

5000.0
3000.0
6000.0
3000.0

In [88]:
 # fetch the name of the all of the employee
for i in employees:
    print(i[0])

Mubashir
sadd
Ali
daniial

#  class Task 2
 Q: fetch age of all employees

In [89]:
for i in employees:
    print(i[1])

21
25
22
28

In [91]:
# Adding 1000 in all salaries
for i in employees:
    #print(i)
    # print(i[2])
    i[2]=i[2]+1000

In [92]:
employees

[['Mubashir', 21, 7000.0],
 ['sadd', 25, 5000.0],
 ['Ali', 22, 8000.0],
 ['daniial', 28, 5000.0]]

#  class Task 3
Q: add 1 to 1ll the ages of the employees

In [95]:
for i in employees:
       i[1]=i[1]+1

In [96]:
employees

[['Mubashir', 24, 7000.0],
 ['sadd', 28, 5000.0],
 ['Ali', 25, 8000.0],
 ['daniial', 31, 5000.0]]

In [ ]:
# adding gender at the end of the list

In [98]:
for i in employees:
    i.append("Male")

In [99]:
employees

[['Mubashir', 24, 7000.0, 'Male', 'Male'],
 ['sadd', 28, 5000.0, 'Male', 'Male'],
 ['Ali', 25, 8000.0, 'Male', 'Male'],
 ['daniial', 31, 5000.0, 'Male', 'Male']]

# class task 4 
Q: Add karachi at the end of the each record

In [101]:
for i in employees:
    i.append("karachi")

In [102]:
employees

[['Mubashir', 24, 7000.0, 'Male', 'Male', 'karachi', 'karachi'],
 ['sadd', 28, 5000.0, 'Male', 'Male', 'karachi', 'karachi'],
 ['Ali', 25, 8000.0, 'Male', 'Male', 'karachi', 'karachi'],
 ['daniial', 31, 5000.0, 'Male', 'Male', 'karachi', 'karachi']]

# conditional statements

In [ ]:
# they are used in filtering of the data 
# why filter ? delete is a costly process

# single:
> syntax:
if condition:
  statement
  else:
  statement

 # Rational operators
 * greater than >
 * Less than<
 *Equal to==
 * Not Equal to !=
 * Greater than or equal to >=
 * Less than equal to  <=

In [103]:
# single
age=16
if age>=18: # return boolan value means (true or false)
     print("Eligible to  vote")
else:
    print("cannot vote")

cannot vote

# Boolean

In [104]:
" Mubashir"=="Mubashir"
" Mbashir"=="pakistan"
10==10
10>5
10>=5

True

# Class Task 5
1) Create a variable marks (assign it a value of your choice)
2) check if marks are greator than and equal to 50 (print pass)
3) else print (print fail)

In [105]:
marks=76
if marks>=50:
    print("pass")
else:
     print("fail")

pass

In [ ]:
# fetch the record of ali

In [107]:
for i in employees:
      if i[0]=="danial":
             i.append("Techmazone")

In [108]:
employees

[['Mubashir', 24, 7000.0, 'Male', 'Male', 'karachi', 'karachi'],
 ['sadd', 28, 5000.0, 'Male', 'Male', 'karachi', 'karachi'],
 ['Ali', 25, 8000.0, 'Male', 'Male', 'karachi', 'karachi'],
 ['daniial', 31, 5000.0, 'Male', 'Male', 'karachi', 'karachi']]

# Class Task 6 
Q) increment the salary by 5000 if the name is "saad"

In [ ]:
 for i in employees:
        if i[0]=="sadd":
        i[2]=i[2]+5000

In [129]:
employees

[['Mubashir', 24, 7000.0, 'Male', 'Male', 'karachi', 'karachi'],
 [...],
 ['Ali', 25, 8000.0, 'Male', 'Male', 'karachi', 'karachi'],
 ['daniial', 31, 5000.0, 'Male', 'Male', 'karachi', 'karachi']]